.card {
    border-radius: 5px;
    overflow: hidden;
    height: 20rem;
    width: 80%;
    margin-bottom: 2rem;
    background-color: var(--test);
}

.card .title {
    display: flex;
    position: relative;
}

.card h3 {
    position: absolute;
    left: 1.5rem;
    font-size: 1.6rem;
    bottom: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: bold;
}

.card img {
    height: 14rem;
    width: 100%;
    object-fit: cover;
}

.card .description {
    padding: 1rem;
    font-weight: bold;
    color: grey;
    display: block;
}

@media (min-width: 950px) {

    .card {
        width: 20%;
        min-width: 250px;
    }

    .card.large {
        width: 30%;
    }
}
