#fp-main, footer {
    position: relative;
    z-index: 1;
}

#fp-main {
    background-color: #b7bed124;
    width: 100%;
    margin: 0 !important;
}

#fp-top-cont {
    position: relative;
    font-family: 'Open-sans', sans-serif;
    width: 100%;
    margin: auto;
    border-left: #0000004a solid;
}

#fp-right-band {
    background-color: #cfd5d8;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
