#body {
    position: relative;
    background-color: var(--colored-background);
}

#top-cont {
    position: relative;
}

#background-img-top, #background-img-bottom {
    position: absolute;
    width: 100%;    
    opacity: 0.5;
    object-fit: cover;
}

#background-img-top {
    top: 0;
    height: 13rem;
}

#background-img-bottom {
    bottom: 0;
    height: 20rem;
}

#main-cont {
    display: flex;
    position: relative;
}

#main, #side {
    margin: 2rem !important;
    line-height: 1.7;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

#side {
    display: none;
    /* to remove */
    min-height: 300px;
}

#main {
    /* to remove */
    min-height: 1200px;
    width: 80%;
}

@media (min-width: 800px) {

    #side {
        display: block;
        width: 25%;
        z-index: 1;
    }

}


h1, h2 {
    font-family: 'Raleway', sans-serif;
    position: relative;
    color: var(--titles-main-color);
    margin-bottom: 3rem;
    margin-top: 0;
}

h1 {
    display: inline-block;
}

/* h1::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--titles-second-color);
} */

h2 {
    font-weight: lighter;
}

.section, .side-section {
    padding: 3rem;
}

.colored-background {
    background-color: var(--test);
}


footer {
    color: var(--titles-main-color);
}

@media (min-width: 800px) {
    footer {
        justify-content: space-evenly;
    }

    footer ul {
        flex-direction: row;
    }
}

#main-cond {
    display: flex;
    position: relative;
}

#side {
    display: none;
}

@media (min-width: 800px) {

    #side {
        display: block;
        width: 25%;
    }

    #main-cont {
        display: flex;
    }

    .side-section {
        margin-bottom: 2rem;
        border-radius: 10px;
    }

    .side-section ul {
        list-style: none;
        padding: 0;
        color: var(--titles-main-color);
        line-height: 2;
        font-weight: bold;
    }

    .side-section ul i {
        color: #8ea7c16e;
    }

    .side-section button {
        margin-top: 2rem;
    }
}
