#chart h2 span {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: lighter;
    color: black;
    line-height: 1.3;
}

#chart h2 span.bold {
    font-weight: bold;
    line-height: 2.3;
}

.italic {
    font-style: italic;
}

#chart .paragraph {
    margin-bottom: 3rem;
}

#chart .paragraph.first {
    margin-top: 3rem;
}
