#professions {
    padding: 1.5rem;
}

#professions .section-content {
    display: flex;
    padding: 2rem;
}

#professions .section-content > div {
    width: 50%;
}

#professions .section-image img {
    width: 80%;
    margin: auto;
}

#professions button {
    display: block;
}

#professions h1 {
    margin: 2rem auto;
}

#professions button {
    background-color: #6286aa;
    color: white;
    margin-top: 2rem;
}
