:root {
  --logo-blue: #217dc0;
  --nav-color: #6a81af;
  --dark-blue: #1f232f;
  --titles-main-color: #727b8c;
  --titles-second-color: #005ea7;
  --colored-background: #f6f6fc59;
  --colored-background-greyer: #b7bed124;
}

body {
  background-color: var(--colored-background);
}

button {
  cursor: pointer;
}

h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  position: relative;
  color: var(--titles-main-color);
  margin-bottom: 3rem;
  margin-top: 0;
}

h1 {
  display: inline-block;
  font-size: 2.5rem;
  z-index: 2;
}

h1::before, .title-underlined::before {
  content: " ";
  position: absolute;
  bottom: 0;
  height: 10px;
  width: 20px;
  background-color: #8ea7c16e;
  z-index: -1;
}

h1::before {
  width: 100%;
  height: 1rem;
  background-color: #ced9e4;
  color: black;
}

a {
  color: unset;
  text-decoration: none;
}

.block {
  display: block;
}

button:hover {
  transition: all 0.3s ease-in-out;
}

button.rounded {
  border-radius: 20px;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}
