nav#fp {
    margin-bottom: 1rem;
    text-align: center;
    z-index: 10;
}

/* nav a, nav a:hover {
    text-decoration: none;
} */

nav#fp .logo {
    width: 2.5rem;
    margin: 0.3rem;
}

#fp #mobile-nav-menu {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#fp #mobile-nav-menu span {
    display: block;
    font-weight: bold;
    color: white;
    line-height: 2;
    font-size: 2rem;
}

#fp #mobile-nav-menu.displayed {
    display: block;
}

#fp #nav-close {
    margin-right: 0;
    font-size: 4rem;
    float: right;
}

@media(min-width: 800px) {
    #fp .large {
        display: block;
    }

    #fp .mobile {
        display: none;
    }

    #fp #large-nav-menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #fp #large-nav-menu {
        color: var(--nav-color);
    }

    #fp #large-nav-menu span {
        font-size: 1rem;
        font-weight: bold;
    }

    #fp #large-nav-menu #nav-home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #fp #large-nav-menu #nav-home span {
        text-transform: uppercase;
        font-size: 1.8rem;
    }

    #fp .nav-element, #fp .nav-home {
        width: 20%;
    }

}
