.bold {
    font-weight: bold;
    opacity: 0.8;
}

nav {
    position: fixed;
    z-index: 1;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    color: var(--dark-blue);
    transition: all 0.5s ease-in-out;
    font-family: 'Open-sans', sans-serif;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 2px 6px 1px #0000001f;
    font-weight: bold;
}

nav a,
nav a:hover {
    text-decoration: none;
}

nav .logo {
    width: 2.5rem;
    margin: 0.3rem;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav a {
    margin: 0 0.5rem;
    font-size: 1rem;
    padding: 0.5rem 0rem;
}

nav a:hover {
    border-bottom: 4px solid var(--dark-blue);
}

#nav-home {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-home .logo {
    width: 2rem;
}

#nav-home a {
    margin: 0 0.5rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--dark-blue);
}

#nav-home:hover {
    border-bottom: none;
}

nav.transparent {
    /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); */
    background-color: transparent;
    box-shadow: none;
}

.transparent #nav-home a {
}

#mobile-nav-menu {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#mobile-nav-menu span {
    display: block;
    font-weight: bold;
    color: white;
    line-height: 2;
    font-size: 2rem;
}

#mobile-nav-menu.displayed {
    display: block;
}

#nav-close {
    margin-right: 0;
    font-size: 4rem;
    float: right;
}

#large-nav-menu {
    display: none;
}

@media (min-width: 800px) {
    .mobile {
        display: none;
    }

    nav,
    footer {
        z-index: 11;
    }

    nav {
        height: 4rem;
        /* padding: 0 1.5rem; */
        justify-content: space-between;
        align-items: center;
    }

    #large-nav-menu {
        display: block;
        height: 100%;
    }

    #large-nav-menu ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        width: 96%;
        height: 100%;
        margin: auto;
    }

    .nav-element {
        min-width: 180px;
    }

}
